<div class="container" id="contenedor">
<!-- Side Navigation -->
  <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<!-- FIN de Side Navigatio -->

<!-- ejemplo de parallax, parallax no funciona con carousel -->
<!--div class="parallax-container">
<div class="parallax">
  <img src="http://lorempixel.com/250/250/nature/1"/>
</div>
</div-->

<!-- Cargar el modulo del carrousel -->
    <app-carrousel-1> Cargando carrousel ui </app-carrousel-1>
<!-- Fin de cargar el modulo carrousel -->

<!-- seccion lateral que me traje del ejemplo ferrari -->
    <section id="lateral">
        <nav id="Menu">
            <ul>
                <li>
                    <a href="#">Principal</a>
                </li>
                <li>
                    <a href="#">Acerca De</a>
                </li>
                <li>
                    <a href="#">Quienes somos</a>
                </li>
            </ul>
        </nav>
        <aside id="Noticias">
            <header>
                <h2>The chat is here</h2>
            </header>
            <!--article>
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Maecenas gravida massa id lectus sodales, sed
                viverra nisi rutrum. Praesent hendrerit, massa et venenatis tempor.
            </article-->
        </aside>

        <!-- Html del chat -->
        <br/>Escribe tu nombre (solo una vez): 
        <input type="text" [(ngModel)]="message.user">
        <div id="miChat">
            <div *ngFor="let msg of messages" >
                {{msg.user}} - {{msg.content}}
            </div>
        </div>
        <br/>Escribe un mensaje: 
        <input type="text" [(ngModel)]="message.content">
        <button (click)="sendMessage()"> Enviar mensaje al chat</button>
        <br/><br/>
        <button (click)="vaciarChat()"> Vaciar el Chat</button>

        <!-- FIN Html del chat -->

    </section>
<!-- FIN seccion lateral que me traje del ejemplo ferrari -->

    <h1>Formulario de Peliculas</h1>
	<form role="form" class="form-horizontal" #form="ngForm" id="miFormulario" action="#">
    <fieldset>
        <legend>Rellene los datos solicitados:</legend>
        <div id="rosa">
            <div class="form-group">
                <label for="id_peli" class="col-sm-2 control-label">Id de la película</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_peli" name="id" disabled  [(ngModel)]="peliculaPojo._id"/>
                </div>
            </div>

            <div class="form-group">
                <!-- Por ahora, quito el icono -->
                <!--i class="material-icons prefix">account_circle</i-->
                <label for="titulo" class="col-sm-2 control-label">Título</label> 
                <div class="col-sm-10">
                    <input type="text" #titulo="ngModel" class="form-control" id="titulo" name="titulo" required autofocus [(ngModel)]="peliculaPojo.titulo"/>
                    <!-- Mensaje de error para titulo-->
                    <br/>
                    <div [hidden]="titulo.valid || titulo.pristine" class="alert alert-danger">
                                Titulo requerido
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="director" class="col-sm-2 control-label">Director</label> 
                <div class="col-sm-10">
                    <input type="text" #director="ngModel" class="form-control" id="director" name="director" required [(ngModel)]="peliculaPojo.director" />
                <!-- Mensaje de error para director-->
                    <br/>
                    <div [hidden]="director.valid || director.pristine" class="alert alert-danger">
                                Director requerido
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="sinopsis" class="col-sm-2 control-label">Sinopsis</label>
                <div class="col-sm-10">
                    <input type="text" #sinopsis="ngModel" class="form-control" id="sinopsis" name="sinopsis" required  [(ngModel)]="peliculaPojo.sinopsis"/>
                <!-- Mensaje de error para sinopsis-->
                    <br/>
                    <div [hidden]="sinopsis.valid || sinopsis.pristine" class="alert alert-danger">
                                Sinopsis requerida
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="fecha" class="col-sm-2 control-label">Fecha</label> 
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="fecha" name="fecha" required [(ngModel)]="peliculaPojo.fecha"/>
                </div>
            </div>

            <div class="form-group">
                <label for="valoracion" class="col-sm-2 control-label">Valoración</label> 
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="valoracion" list="cafes" name="valoracion" required [(ngModel)]="peliculaPojo.valoracion">
                </div>
                <datalist id="cafes">
                    <option label="Mala" 
                            value="Mala">
                    <option label="Regular" 
                            value="Regular">
                    <option label="Buena" value="Buena">
                    <option label="Muy Buena" value="Muy Buena">
                    <option label="Excelente" value="Excelente">
                </datalist>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="reset" class="btn btn-primary" 
                                        (click)="muestraBotonesModAndDel = true"> 
                <input type="button" class="btn btn-primary" id="guardar" value="Guardar" (click)="clickGuardar(); form.reset()" 
                                        [disabled]="form.invalid || !muestraBotonesModAndDel"/>
                <input type="button" class="btn btn-primary" id="modificar" value="Modificar" 
                                        (click)="clickModificar(); form.reset()" [disabled]="muestraBotonesModAndDel" />
                <input type="button" class="btn btn-primary" id="borrar" value="Borrar" 
                                        (click)="clickBorrar()"  [disabled]="muestraBotonesModAndDel"/>
                <input class="elementoOculto" type="button" id="borrar" value="Borrar"/>
            </div>
        </div>
    </fieldset>
	</form>


    <!-- Autocomplete el 9dic16  -->
<br/>
<div>
    <form  [formGroup]="searchForm">
        <label for="searchField">Buscar pelicula por titulo o autor</label>
        <!--
        <input type="text" ngControl="searchField" id="searchField" name="searchField" 
                    [formControl]="searchForm.controls['searchField']"> 
        -->
        <input type="text" id="searchField" name="searchField"
                                    [formControl]="searchForm.controls['searchField']"> 
        <!--
        <div *ngFor="let result of results | async">
            <div>{{result.titulo}}</div>
        </div> 
        --> 

        <ul>
            <li *ngFor="let result of results | async">{{result.titulo}}</li>
        </ul>     
    </form>    
</div>

<!--
    <div>



        <form #searchForm="ngModel"  role="form" class="form-horizontal"  id="miFormulario" action="#">
            <label for="searchField">Search for a customer</label>
            <input #searchField="ngModel" id="search" class="form-control"> 

                  
        </form>        
        <div *ngFor="let result of results | async">
            <div>{{result.titulo}}</div>
        </div>
    </div>

-->

    <!-- FIN de Autocomplete el 9dic16  -->


    <h1>Base de Datos de Peliculas</h1>

    <input class="elementoOculto" type="button" id="peticion_ajax" value="Carga con JQuery"/>
    <div class="elementoOculto" id="contenido_de_ajax">

    </div>

<!-- Tabla mostrando la DB de peliculas -->
    <section id="tablaPeliculas">
        <!-- table border="2" -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">                
                <thead>
                    <tr>
                        <th>ID</th>
                        <th (click)="clickOrdenarPorTitulo()">{{colTitulo}}</th>
                        <th  (click)="clickOrdenarPorDirector()">{{colDirector}}</th>
                        <th>Sinopsis</th>
                        <th>Fecha</th>
                        <th>Valoración</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- tr *ngFor="let peli of getDatos2()"  -->
                    <tr *ngFor="let peli of pelisListHttp, let i = index;"
                            [ngClass]="{filaClickada: peli.booelanIsActive}"
                            (click)="
                                    peli.booelanIsActive = !peli.booelanIsActive;
                                    muestraBotonesModAndDel = false;
                                    clickEnFila(peli, i); ">
                      <td>{{peli._id}}</td>
                      <td>{{peli.titulo}}</td>
                      <td>{{peli.director}}</td>
                      <td>{{peli.sinopsis}}</td>
                      <td>{{peli.fecha}}</td>
                      <td>{{peli.valoracion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <footer id="pie">
        <section>
            © 2016 Diseñador: Juan Miguel Navarro Lopez
        </section>
    </footer>



    </div>

