  thead tr {
    cursor: pointer;
    background-color: lightseagreen;
  }

  tbody tr {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    text-align: right;
  }

  tbody tr.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  tbody tr:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }

  tbody tr.filaClickada {
    background-color: #01579B;
    color: #fff;
  }

  /*  
    Componentes css del proyecto peliculas con jquery y bootstrap
  */

  	#rosa input:valid {
		background: pink;
	}
	#rosa input:invalid {
		background: red;
	}

	.elementoOculto {
		display: none;
	}
	
	footer#pie > section{
    padding-right: 10px;
    text-align: center;
  }

  .pruebaFilaClicked {
    		background: red;
  }


  <!-- stilos requeridos en el form para ver lo rojito y lo verde -->
  .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }